<div class=“container”>
<h1>Stupid Coach</h1>
<div class=“questions”>
<%= @question%>
<p>-You</p>
</div>
<div class=“answers”>
<%= @answer%>
<p>-The Asshole</p>
</div>
<br>
<div id=“btn-back”>
<%= link_to “Ask a new question”, ask_path, class: “ok” %>
</div>
</div>
