<h1>Stupid Coach</h1>
<div class=“container” id=“asking”>
<p id=“forme-description”>Ask your coach anything :</p>
<form action=“/answer” data-turbo=“false”>
  <input class=“typing” type=“text” name=“question”>
  <input class=“btn” type=“submit” value=“Ask!“>
</form>
</div>
